{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-4">Things I Have Learned in Python</h1>
    <ul class="list-group">
        <li class="list-group-item">Variables and Data Types</li>
        <li class="list-group-item">Control Structures (if, else, loops)</li>
        <li class="list-group-item">Functions</li>
        <li class="list-group-item">Object-Oriented Programming (Classes and Objects)</li>
        <li class="list-group-item">Modules and Libraries (e.g., Math, Collection, Random)</li>
        <li class="list-group-item">File Handling (Reading/Writing Files)</li>
        <li class="list-group-item">Error and Exception Handling</li>
        <li class="list-group-item">Data Structures (Lists, Tuples, Sets, Dictionaries)</li>
        <li class="list-group-item">Web Development with Flask</li>
    </ul>
</div>

{% endblock %}