{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title text-center">Login</h5>

            {% with messages = get_flashed_messages(with_categories = True) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            <form action='/login' method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password">
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
